<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Кнопка</title>
 </head>
 <body>
  <form action="/uid/" target="_blank">
        <p><input name="UID"></p>
        <button>Переход по ссылке</button>
    </form>
 </body>
</html>